build
.vscode/
*html
*xml
*tex
include/doctest.h
include/nanobench.h
*/__pycache__
dockcross-*
notebooks/
.ipynb_checkpoints
cmake/toolchains
*.db
*.tar.gz
*.tar.bz2
include/library.json
include/etl*
models
testbench_results
SPIRV-LLVM-Translator
pocl
*.spv
*.spt
*.bc
*.ll
llvm.sh
install
amdgpu-*
*.dot