build
.vscode/
*html
*xml
*tex
include/doctest.h
include/nanobench.h
*/__pycache__
dockcross-*
.ipynb_checkpoints
cmake/toolchains
*.db
*.tar.gz
*.tar.bz2
include/library.json
include/etl*
models
testbench_results
**/functional