src/*
!src/add.cpp
!src/multiply.cpp
!src/subtract.cpp
!src/divide.cpp

!src/maximum.cpp
!src/minimum.cpp
!src/sqrt.cpp

!src/exp.cpp
!src/exp2.cpp
!src/log.cpp
!src/log2.cpp
!src/log10.cpp
!src/log1p.cpp

!src/less.cpp
!src/less_equal.cpp
!src/greater.cpp
!src/greater_equal.cpp

!src/cos.cpp
!src/sin.cpp
!src/tan.cpp
!src/cosh.cpp
!src/sinh.cpp
!src/tanh.cpp

!src/prod.cpp
!src/sum.cpp
!src/mean.cpp
!src/var.cpp
!src/stddev.cpp

!src/reshape.cpp